/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DOSO_ID]
      ,[DOSO_IMIE_CZ1]
      ,[DOSO_IMIE_CZ2]
      ,[DOSO_NAZWISKO_CZ1]
      ,[DOSO_NAZWISKO_CZ2]
      ,[DOSO_NAZWISKO_CZ3]
      ,[DOSO_NAZWISKO_CZ4]
      ,[DOSO_NAZWISKO_PANIENSKIE_MATKI]
      ,[DOSO_DATA_URODZENIA]
      ,[DOSO_CBS_ESLO_FPLEC_ID]
      ,[DOSO_NR_MODULO_KREDYT]
      ,[DOSO_KREDYT_KLIENT_ID]
      ,[DOSO_CZY_ZGODA_BIK]
      ,[DOSO_CZY_ZGODA_NA_REKLAME_TRAD]
      ,[DOSO_CZY_ZGODA_PRZEKAZ_DROGA_ELEKTR]
      ,[DOSO_CZY_ZGODA_PRZEKAZ_INNYM_PODM]
      ,[DOSO_CBS_ESLO_FLLZBP_ID_PO_WYGASNIECIU]
      ,[DOSO_PESEL]
      ,[DOSO_CZY_DARMOWE_UBEZPIECZENIE_TU_EUROPA]
      ,[DOSO_CZY_ZGODA_NA_SKREDYTOWANIE_KOSZTOW]
      ,[DOSO_CZY_ZGODA_NA_BIK_PO_SPLACIE]
      ,[DOSO_CZY_ZGODA_PRZETW_DANYCH]
      ,[DOSO_CZY_DANE_AKTUALNE_NA_KLIK]
	  ,[SKRE_ID]
  FROM [CBWG].[SCH_KLIENCI].[T_DANE_OSOBOWE] AS DOSO
  JOIN [CBWG].[SCH_KLIENCI].[T_WERSJE_DANYCH_UCZESTNIKOW] AS WDUC ON WDUC.[WDUC_DOSO_ID]=DOSO.[DOSO_ID] 
  JOIN [CBWG].[SCH_SPRAWY_KREDYTOWE].[T_UCZESTNICY_SPRAW_KREDYTOWYCH] AS USKR ON USKR.[USKR_ID]=WDUC.[WDUC_USKR_ID]
  JOIN [CBWG].[SCH_SPRAWY_KREDYTOWE].[T_SPRAWY_KREDYTOWE] AS SKRE ON SKRE.[SKRE_ID]=USKR.[USKR_SKRE_ID]
  where [SKRE_ID]='43044'