/****** Script for SelectTopNRows command from SSMS  ******/
 select OMAI_ID
  from [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE]
  where OMAI_ID='17632375'

SELECT [OMAI_ID]
      ,[OMAI_NR_LISTU]
      ,[OMAI_CBO_WYBRANA_OFER_ID]
      ,[OMAI_DATA_WAZNOSCI_OD]
      ,[OMAI_DATA_WAZNOSCI_DO]
      ,[OMAI_DATA_WYKORZYSTANIA]
      ,[OMAI_CZY_WYKORZYSTANE]
      ,[OMAI_CZY_OFERTA_STANDARD]
      ,[OMAI_NRB_KR_POPRZ]
      ,[OMAI_DOCHODY_KR_POPRZ]
      ,[OMAI_MAX_KWOTA]
      ,[OMAI_MAX_OKRES]
      ,[OMAI_DATA_AKTUALIZACJI]
      ,[OMAI_RODZAJ_MAIL]
      ,[OMAI_KOMUNIKAT_DLA_DORADCY]
      ,[OMAI_CBWG_SKRE_ID]
      ,[OMAI_MAX_KWOTA_OSWIADCZENIE]
      ,[OMAI_TYP_KLIENTA]
      ,[OMAI_MAX_RATA]
      ,[OMAI_IMIE]
      ,[OMAI_NAZWISKO]
      ,[OMAI_PESEL]
      ,[OMAI_MAX_RATA_60M]
      ,[OMAI_MAX_KWOTA_60M]
      ,[OMAI_MAX_KWOTA_OSWIADCZENIE_60M]
      ,[OMAI_MAX_KWOTA_BEZ_WSPOLMALZONKA]
      ,[OMAI_WYDATKI_NA_MIESZKANIE]
      ,[OMAI_CBS_ESLO_FLDZIE_ID]
      ,[OMAI_CBS_ESLO_FZEDOC_ID]
      ,[OMAI_CZY_PROCES_KLIK]
      ,[OMAI_OPROC_WARTOSC]
      ,[OMAI_PROWIZJA_WARTOSC]
	  ,ofer.[OFER_KOD]
      ,ofer.[OFER_NAZWA]
	  ,ofer.[OFER_ID]
	  ,[OMAO_CBO_OFER_ID]
  from [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE] as omai
  inner join [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE_OFERTY] as omaio on omai.[OMAI_ID] = omaio.[OMAO_OMAI_ID]
  inner join [CBO].[SCH_OFERTY].[T_OFERTY] as ofer on omaio.[OMAO_CBO_OFER_ID] = ofer.[OFER_ID]
 --where [OMAO_CBO_OFER_ID]='1124'
-- --where ofer.OFER_KOD='KKTOPU01'
-- where [OMAI_NR_LISTU]='1016101034593 '

  --update [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE]
  --set [OMAI_OPROC_WARTOSC] ='0.0000'
  --where OMAI_ID='10906372'


  --update [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE_OFERTY] 
  --set [OMAO_CBO_OFER_ID]='1124'
  --from [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE_OFERTY] omaio
  --inner join [CBM_FINO].[SCH_MAILING].[T_OFERTY_MAILINGOWE] omai
  --on omai.[OMAI_ID] = omaio.[OMAO_OMAI_ID]
  --where [OMAI_ID]='6694484'