/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [SLOG_ID]
      ,[SLOG_SKRE_ID]
      ,[SLOG_WDUC_ID]
      ,[SLOG_OFER_ID]
      ,[SLOG_KRED_ID]
      ,[SLOG_XML_IN]
      ,[SLOG_XML_OUT]
      ,[SLOG_SCORING_TYP]
      ,[SLOG_UTWORZYL]
      ,[SLOG_ERROR]
	  ,ofer.[OFER_NAZWA]
	  ,ofer.[OFER_KOD]
	  ,ofer.[OFER_CBS_ESLO_STAT_ID]
      ,[SLOG_FILE_XML_IN]
      ,[SLOG_FILE_XML_OUT]
      ,[SLOG_DATA_START]
      ,[SLOG_DATA_KONIEC]
      ,[SLOG_SLOG_ID]
      ,[SLOG_TGSC_ID]
      ,[SLOG_CZY_ODPYTANY]
  FROM [CBWG].[SCH_ZADANIA].[T_SCORING_LOG] as slog
JOIN CBWG.SCH_SPRAWY_KREDYTOWE.T_SPRAWY_KREDYTOWE as skre on skre.[SKRE_ID]=slog.[SLOG_SKRE_ID]
JOIN CBWG.[SCH_SPRAWY_KREDYTOWE].[T_WERSJE_OFERT_KREDYTOW] as WOK on WOK.[WOK_SKRE_ID]=skre.[SKRE_ID]
JOIN CBWG.[SCH_SPRAWY_KREDYTOWE].[T_OFERTY_KREDYTOWE] as OfKred on OfKred.[OKRE_WOK_ID]=WOK.[WOK_ID]
join CBO.[SCH_OFERTY].[T_OFERTY] as ofer on ofer.OFER_ID = OfKred.[OKRE_CBO_OFER_ID]
 where [SLOG_SKRE_ID]= '4234' and ofer.[OFER_CBS_ESLO_STAT_ID]=78 and [SLOG_DATA_KONIEC] > '2018-11-22 00:00:00.0000000' and OFER_KOD='STANDA01'
 order by SLOG_DATA_KONIEC DESC