SELECT TOP 1000 [WAUT_ID]
      ,[WAUT_WDUC_ID]
      ,[WAUT_CBS_ESLO_RWER_ID]
      ,[WAUT_CBS_ESLO_FWWAUT_ID]
      ,[WAUT_REZULTAT_WERYFIKACJI]
      ,[WAUT_DANE_WYNIKOWE]
      ,[WAUT_CZY_WERYFIKACJA_TEL_ZATRUDNIENIA]
      ,[WAUT_CZY_WERYFIKACJA_TEL_ZAMIESZKANIA]
      ,[WAUT_CZY_WERYFIKACJA_TEREN_ZATRUDNIENIA]
      ,[WAUT_CZY_WERYFIKACJA_TEREN_ZAMIESZKANIA]
      ,[WAUT_UTWORZYL]
      ,[WAUT_CBS_ESLO_FKODMO_ID]
      ,[CBUZ_UTWORZYL_ID]
      ,[DATA_UTWORZENIA]
      ,[CBUZ_MODYFIKOWAL_ID]
      ,[DATA_MODYFIKACJI]
      ,[WAUT_CZY_WERYFIKACJA_TEL_ZLOZENIA_WNIOSKU]
      ,[DATA_PART]
  FROM [CBWG].[SCH_ZADANIA].[T_WERYFIKACJE_AUTOMATYCZNE] AS waut
  where [WAUT_CBS_ESLO_RWER_ID] = 5435
  and CAST(waut.[WAUT_DANE_WYNIKOWE] as varchar(max)) like '%<PESEL_KB1>%'
  order by [DATA_UTWORZENIA] desc 