/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [KRED_ID]
      ,[KRED_OKRE_ID]
	  ,WOK.[WOK_CBS_ESLO_STAW_ID]
      ,[KRED_CBS_ESLO_FTRAT_ID]
      ,[KRED_CBS_ESLO_ROOPR_ID]
      ,[KRED_CBS_ESLO_TOFE_ID]
      ,[KRED_CBO_OPRO_ID]
      ,[KRED_KWOTA_NETTO]
      ,[KRED_KWOTA_BRUTTO]
      ,[KRED_KWOTA_BRUTTO_GLOWNY]
      ,[KRED_KWOTA_BRUTTO_DODATKOWY]
      ,[KRED_KWOTA_DODATKOWA]
      ,[KRED_KWOTA_CALKOWITA]
      ,[KRED_KWOTA_CALKOWITA_GLOWNY]
      ,[KRED_KWOTA_CALKOWITA_DODATKOWY]
      ,[KRED_MAX_RATA]
      ,[KRED_OKRES_KREDYTOWANIA]
      ,[KRED_STOPA_PROC]
      ,[KRED_STOPA_RZECZYWISTA]
      ,[KRED_STOPA_RZECZYWISTA_GLOWNY]
      ,[KRED_STOPA_RZECZYWISTA_DODATKOWY]
      ,[KRED_CZY_ZGODA_WSPOLMALZONKA]
      ,[KRED_CZY_WYMAGANE_PORECZ]
      ,[KRED_CZY_OSWIADCZENIE_MOZLIWE]
      ,[KRED_OPROC_PODWYZ]
      ,[KRED_LICZBA_WYMAGANYCH_PORECZ]
      ,[KRED_RATA_ELASTYCZNA]
      ,[KRED_OKRES_KREDYTOWANIA_RAT_ELAST]
      ,[KRED_CZY_RATAY_ELASTYCZNE]
      ,[KRED_OPROC_W_STALA]
      ,[KRED_OPROC_WIBOR3M]
      ,[KRED_RATA_OPR_W_STALA]
      ,[KRED_RATA_OPR_WIBOR3M]
      ,[KRED_DATA_OSTATNIEJ_RATY]
      ,[KRED_DATA_PIERWSZEJ_RATY]
      ,[KRED_RATA_ANNUITETOWA]
      ,[KRED_WPLATA_WLASNA]
      ,[KRED_CZY_WYBRANY]
      ,[KRED_CZY_ZAPREZENTOWANY]
      ,[KRED_CZY_PRZELICZONY]
      ,[KRED_WSPOLCZYNNIK_PROPORCJI]
      ,[KRED_RATA_OPR_W_STALA_GLOWNY]
      ,[KRED_RATA_OPR_WIBOR3M_GLOWNY]
      ,[KRED_RATA_OPR_W_STALA_DODATKOWY]
      ,[KRED_RATA_OPR_WIBOR3M_DODATKOWY]
      ,[KRED_MAX_RATA_GUS]
      ,[KRED_OPROC_ROR]
      ,[KRED_RATA_ROR]
      ,[KRED_WSPOLCZYNNIK_RRK]
      ,[KRED_LICZBA_KART_DODATKOWYCH]
      ,[KRED_STOPA_PROC_NOCASH]
      ,[KRED_KARTA_DLA_WSPOLKREDYTOBIORCY]
      ,[KRED_OPROC_BAZOWE]
      ,[KRED_LIMIT_PRZENOSZONY_ZKON_ID]
      ,[KRED_RACHUNEK_WSPOLNY]
      ,[KRED_NR_RACHUNKU_GNB]
      ,[KRED_CBU_GRUP_ID_WYBRANA]
      ,[KRED_OBSLUGA_ROR]
      ,[KRED_WIB3M]
      ,[KRED_CZY_NAJLEPSZY]
      ,[KRED_MAX_POZAODSETKOWE_KOSZTY]
      ,[KRED_MAX_KWOTA_NETTO_MPKK]
      ,[KRED_MAX_KWOTA_BRUTTO_UBEZPIECZENIE]
      ,[KRED_MAX_RATA_ZDOLNOSC]
      ,[KRED_BUFOR_ZMIENNA_STOPA]
      ,[KRED_MAX_RATA_OSWIADCZENIE]
      ,[KRED_CZY_NAJLEPSZY_OKRES]
      ,[KRED_WAGA_PROWIZJI]
      ,[KRED_CZY_PRZEKROCZENIE_KWOTY_W_PROCEDURZE_UPROSZCZONEJ]
      ,[KRED_SUMA_ZAANGAZOWANIA_W_PROCEDURZE_UPROSZCZONEJ]
      ,[KRED_CZY_NAJLEPSZY_W_GRUPIE]
      ,[KRED_CBS_ESLO_OPPRA_ID]
      ,[KRED_ROR_SREDNI_WPLYW]
      ,[KRED_KWOTA_KAUCJI]
	  ,WOK.[WOK_SKRE_ID]
	  ,skre.[SKRE_ID]
	  ,OfKred.[OKRE_WOK_ID]
	  ,WOK.[WOK_ID]
	  ,KRED.[KRED_OKRE_ID]
	  ,OfKred.[OKRE_ID]

  from CBWG.SCH_SPRAWY_KREDYTOWE.T_SPRAWY_KREDYTOWE as skre  
JOIN CBWG.[SCH_SPRAWY_KREDYTOWE].[T_WERSJE_OFERT_KREDYTOW] as WOK on WOK.[WOK_SKRE_ID]=skre.[SKRE_ID]
JOIN CBWG.[SCH_SPRAWY_KREDYTOWE].[T_OFERTY_KREDYTOWE] as OfKred on OfKred.[OKRE_WOK_ID]=WOK.[WOK_ID]
JOIN CBWG.[SCH_SPRAWY_KREDYTOWE].[T_KREDYTY] as KRED on KRED.[KRED_OKRE_ID]=OfKred.[OKRE_ID]


where skre.[SKRE_ID]=37364 and [KRED_CBS_ESLO_TOFE_ID]=4875 and WOK.[WOK_CBS_ESLO_STAW_ID]=18

--update CBWG.[SCH_SPRAWY_KREDYTOWE].[T_KREDYTY]
--set [KRED_KWOTA_KAUCJI]=65000
--where [KRED_ID]=148847
